@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sailors";
  src: url("/fonts/Sailors.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Lavonia";
  src: url("/fonts/Lavonia.otf") format("opentype");
  font-display: swap;
}

body {
  background-color: #1c0f2e;
  color: #fbf7f4;
}

input::placeholder {
  color: rgba(251, 247, 244, 0.35);
}
